---
layout: page
description: "The only thing certain is the uncertainty"
---

<h1>
        <font color = Teal  >   About me </font>
</h1>
Hi, I am Songyan Hou, a master student in applied mathematics in the department of mathematics at ETH, studying
stochastic finance under the supervision of Prof. Christoph Czichowsky. Before coming to Zurich, I obtained my bechelor
degree in mathematics in Nanjing University under the supervion of Prof. Zhang, Qiang on numerical methods of PDEs.
<br><br>
<a href="https://github.com/justinhou95"><img src="./img/git.jpg" height="30px" style="margin-bottom:-3px"></a>
<a href="https://www.zhihu.com/"><img src="./img/zh.jpg" height="30px" style="margin-bottom:-3px"></a>
<a href="https://www.researchgate.net/"><img src="./img/rg.JPG" height="30px" style="margin-bottom:-3px"> </a>
<a href="https://scholar.google.com/"><img src="./img/gs.jpg" height="30px" style="margin-bottom:-3px"></a>
<a href="https://twitter.com/"><img src="./img/tw.png" height="30px" style="margin-bottom:-3px"></a>
<hr>
<h1>
        <font color = Teal >
    Interests
    </font>
</h1>
    I'm interested in Stochastic Finance and numerical methods implemented on
    stochastic models. Currently I am mainly studying on the topics of stimulating rough mathematical finance problem with
    deep neural network.
<hr>
<h1>
<font color = Teal > Articles </font>
</h1>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h1 class="post-title" >
            {{ post.title }}
        </h1>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
        <div class="post-content-preview">
                {{ post.abstract }}
                <!-- {{ post.content | strip_html | truncate:200 }} -->
        </div>
    </a>
    <p class="post-meta" >
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
